name: Automated Tests

on: pull_request

jobs:
  jest:
    name: Jest Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: "10.26.0"

      - uses: actions/setup-node@v4
        with:
          node-version: "lts/hydrogen"
          cache: "pnpm"

      - run: pnpm i --frozen-lockfile

      - run: pnpm test
